<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Quản lý thông tin người dùng</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/cruduser.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="wraper">
		<div class="header">
			<h3
				style="text-align: center; padding: 10px; font-weight: bold; color: blue;">
				RECORDING MEETING SYSTEM</h3>
		</div>
		
		<div class="content">
			<div class="search" style="text-align: center;">
				<input type='text' class='form-control' placeholder='Nhập vào tên hoặc mã để tìm kiếm' id='ip_search' style='width: 300px; display: inline-block;'>
				<button class="btn btn-primary">
					<i class="fa fa-search" aria-hidden="true">
						Tìm kiếm
					</i>
				</button>	
			</div>
			<div class="data_table">
				<input type="button" value='Add' class='btn btn-success' data-toggle="modal" data-target="#formadd">
				<div style='overflow: auto;'>
				
					
					<table id="data_table" class='table-striped' style='margin-top: 10px; width: 100%'>
						<tr>
							<th>STT</th>
							<th>Tài khoản</th>
							<th>Họ và tên</th>
							<th>Ngày sinh</th>
							<th>Số điện thoại</th>
							<th>Số CMND</th>
							<th>Địa chỉ</th>
							<th>Mật khẩu</th>
							<th> </th>
							<th> </th>			
						</tr>
					</table>
					
					<!-- Phân trang -->
					<div class='phantrang' style='text-align: center;'>
						<ul class="pagination" id='phantrang'>
						
							<li class="page-item">
						      <a class="page-link"  aria-label="Previous" onclick='previous()' style='cursor:pointer;'>
						        <span aria-hidden="true">&laquo;</span>
						        <span class="sr-only">Previous</span>
						      </a>
						    </li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="footer" style="text-align: center; padding-top: 5px; color: blue;">
			<h4>Hệ thống ghi biển bản cuộc họp. Phát triển bởi nhóm DSD_09</h4>
		</div>
			<script type="text/javascript" th:src="@{/js/meeting.js}"></script>
			
			<!-- modal Thêm tài khoản -->
    
	 <div class="modal fade" id="formadd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document" style='color: black;'>
	    <div class="modal-content">
	      <div class="modal-header" style='text-align: center;'>
	        <h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;">Thông tin tài khoản</h3>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" id="body_themtaikhoan">
	      <form action='adminAddTaiKhoan' method="post" name="user" id='submit_register'>
			  <div class="form-group">
			    <label for="ip_hoten">Họ và tên</label>
			    <input type="text" class="form-control" id="ip_hoten"  name='ten' aria-describedby="emailHelp" placeholder="Nhập vào họ và tên">
			  	<small id="status_hoten" class="form-text text-muted" style='color: red;'></small>
			 	<input type="hidden" class="form-control" id="dangnhaphidden">
			  </div>
			  
			   <div class="form-group">
			    <label>Username:</label> <span id='ip_username'></span><br>
			    <small id="status_username" class="form-text text-muted" style='color: red;'></small>
			  </div>
			  
			  <div class="form-group">
			    <label for="ip_ngaysinh">Ngày sinh</label>
			    <input type="date" class="form-control" id="ip_ngaysinh" name = 'ngaysinh' placeholder="Nhập vào ngày sinh">
			    <small id="status_ngaysinh" class="form-text text-muted" style='color: red;'></small>
			  </div>
			  
			   <div class="form-group">
			    <label for="ip_sdt">Số điện thoại</label>
			    <input type="text" class="form-control" id="ip_sdt" name='sdt' placeholder="Nhập vào số điện thoại" maxlength="11">
			    <small id="status_sdt" class="form-text text-muted" style='color: red;'></small>
			  </div>
			  
			  <div class="form-group">
			    <label for="ip_cmnn">Số CMNN</label>
			    <input type="text" class="form-control" id="ip_cmnd" name='cmnn' placeholder="Nhập vào số chứng minh nhân dân" maxlength="10">
			    <small id="status_cmnd" class="form-text text-muted" style='color: red;'></small>
			  </div>
			  
			  <div class="form-group">
			    <label for="ip_diachi">Địa chỉ</label>
			    <input type="text" class="form-control" id="ip_diachi" name='diachi' placeholder="Nhập vào địa chỉ">
			    <small id="status_diachi" class="form-text text-muted" style='color: red;'></small>
			  </div>
			 
			 <button type="button" class="btn btn-primary" onclick='dangkytaikhoan()'>Save</button>
			 
		</form>
	      
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

</body>
</html>